@{
    ViewBag.Title = "Home Page";
}
@model SM.Model.Person
    <br/>
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <h4>This is index page</h4>
        @using (Html.BeginForm("Index", "Home", new { @id = "SMForm" }, FormMethod.Post))
        {
            @Html.TextBoxFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.LastName)
            <input type="submit" value="Submit" />
        }
        <div>@Html.ValidationMessageFor(x => x.FirstName)</div>
    </div>
</div>